n8n/paddle-payment-workflow.json
{
  "id": "990e8400-e29b-41d4-a716-446655440004",
  "name": "Paddle payment → Program + Email",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paddle-webhook",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "name": "Paddle Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ],
      "webhookId": "paddle-payment-wh"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\n\nconst req = items[0]?.json ?? {};\nconst headers = req.headers || {};\nconst body = req.body || {};\nconst rawBody = typeof req.rawBody === 'string' && req.rawBody.length > 0\n  ? req.rawBody\n  : JSON.stringify(body);\n\nconst secret = $env.PADDLE_WEBHOOK_SECRET || '';\nconst paddleSig = headers['paddle-signature'] || headers['Paddle-Signature'] || '';\n\nfunction parseSignatureHeader(sigHeader) {\n  const out = {};\n  for (const part of String(sigHeader || '').split(';')) {\n    const [k, v] = part.split('=');\n    if (k && v) out[k.trim()] = v.trim();\n  }\n  return out;\n}\n\nfunction safeEqualHex(a, b) {\n  try {\n    const ba = Buffer.from(String(a || ''), 'hex');\n    const bb = Buffer.from(String(b || ''), 'hex');\n    return ba.length === bb.length && crypto.timingSafeEqual(ba, bb);\n  } catch {\n    return false;\n  }\n}\n\nfunction tryJsonParse(value) {\n  try {\n    return JSON.parse(value);\n  } catch {\n    return null;\n  }\n}\n\nconst sigParts = parseSignatureHeader(paddleSig);\nconst ts = Number(sigParts.ts || 0);\nconst h1 = sigParts.h1 || '';\nconst nowSec = Math.floor(Date.now() / 1000);\nconst tsFresh = ts > 0 && Math.abs(nowSec - ts) <= 300;\n\nlet signatureValid = false;\nif (secret && h1 && tsFresh) {\n  const signedPayload = `${ts}:${rawBody}`;\n  const expected = crypto.createHmac('sha256', secret).update(signedPayload).digest('hex');\n  signatureValid = safeEqualHex(expected, h1);\n}\n\nconst eventType = body.event_type || body.eventType || '';\nconst eventId = String(body.event_id || body.notification_id || body.eventId || '').trim();\nconst data = body.data || {};\n\nlet passthrough = data.passthrough || data.custom_data?.passthrough || '';\nif (typeof passthrough === 'string') {\n  const parsed = tryJsonParse(passthrough);\n  if (parsed && typeof parsed === 'object') passthrough = parsed;\n}\n\nconst email = (\n  data.customer?.email ||\n  data.customer_email ||\n  data.custom_data?.email ||\n  data.custom_data?.user_email ||\n  (typeof passthrough === 'object' ? passthrough.email : '') ||\n  ''\n).toLowerCase().trim();\n\nconst statusRaw = String(data.status || '').toLowerCase();\nconst paidByStatus = ['paid', 'completed', 'billed', 'active'].includes(statusRaw);\nconst paidByEvent = [\n  'transaction.completed',\n  'transaction.paid',\n  'payment_succeeded',\n  'subscription.created',\n  'subscription.activated'\n].includes(String(eventType || '').toLowerCase());\n\nconst amountRaw =\n  data.details?.totals?.total ||\n  data.totals?.total ||\n  data.amount ||\n  data.earnings ||\n  null;\n// Paddle Billing v2 returns totals in smallest currency unit (cents); divide by 100\nconst amountParsed = amountRaw == null ? null : Number(String(amountRaw).replace(',', '.'));\nconst paidAmount = Number.isFinite(amountParsed) ? +(amountParsed / 100).toFixed(2) : null;\n\nconst transactionId = String(data.id || data.transaction_id || data.order_id || '').trim();\nconst customerId = String(data.customer_id || data.customer?.id || '').trim();\nconst paymentDate = data.billed_at || data.created_at || body.occurred_at || new Date().toISOString();\n\nconst shouldProcess = Boolean(secret && signatureValid && email && (paidByStatus || paidByEvent));\n\nreturn [{\n  json: {\n    should_process: shouldProcess,\n    event_id: eventId,\n    reason: shouldProcess\n      ? 'verified_paid_event'\n      : 'ignored_event_or_invalid_signature',\n    event_type: eventType,\n    email,\n    paid_amount: Number.isFinite(paidAmount) ? paidAmount : null,\n    transaction_id: transactionId,\n    customer_id: customerId,\n    payment_date: paymentDate,\n    signature_present: Boolean(paddleSig),\n    signature_valid: signatureValid\n  }\n}];"
      },
      "name": "Verify and Parse Paddle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Verify and Parse Paddle').first().json.should_process }}",
              "value2": true,
              "operation": "equal"
            }
          ]
        }
      },
      "name": "Is Verified Paid Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET\n  status = 'paid',\n  payment_date = COALESCE($2::timestamp, payment_date, NOW()),\n  paid_amount = COALESCE($3::numeric, paid_amount),\n  paddle_transaction_id = COALESCE(NULLIF($4, ''), paddle_transaction_id),\n  paddle_customer_id = COALESCE(NULLIF($5, ''), paddle_customer_id),\n  updated_at = NOW()\nWHERE email = $1\nRETURNING id, name, email, user_profile",
        "options": {
          "queryReplacement": "={{ [\n  $('Verify and Parse Paddle').first().json.email,\n  $('Verify and Parse Paddle').first().json.payment_date,\n  $('Verify and Parse Paddle').first().json.paid_amount,\n  $('Verify and Parse Paddle').first().json.transaction_id,\n  $('Verify and Parse Paddle').first().json.customer_id\n] }}"
        }
      },
      "name": "Mark Lead as Paid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://app.nocodb.com/api/v2/tables/' + $env.NOCODB_TABLE_ID + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Exercises p1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://app.nocodb.com/api/v2/tables/' + $env.NOCODB_TABLE_ID + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Exercises p2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://app.nocodb.com/api/v2/tables/' + $env.NOCODB_TABLE_ID + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Exercises p3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://app.nocodb.com/api/v2/tables/' + $env.NOCODB_TABLE_ID + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "300"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Exercises p4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const paidLead = $('Mark Lead as Paid').first().json || {};\nconst profileRaw = paidLead.user_profile;\nconst profile = typeof profileRaw === 'string' ? JSON.parse(profileRaw || '{}') : (profileRaw || {});\nconst email = paidLead.email;\n\nconst mvTypeNorm = {\n  resistance: 'strength',\n  'resistance / strength': 'strength',\n  'balanced routine': 'mix',\n  mix: 'mix',\n  'cardio-based': 'cardio',\n  'yoga / pilates': 'mobility',\n  'yoga / pilates / dance': 'mobility',\n  'yoga/pilates': 'mobility'\n};\nconst userMovType = mvTypeNorm[profile.movement_type] || profile.movement_type;\n\nconst spaceMap = {\n  indoor: ['close_space', 'all'],\n  outdoors: ['outdoors', 'open_space', 'all'],\n  mixed: ['close_space', 'outdoors', 'open_space', 'all']\n};\nconst allowedSpaces = spaceMap[profile.space] || ['all'];\n\nconst equipMap = {\n  none: ['none'],\n  everyday_items: ['none', 'everyday_items', 'backpack']\n};\nconst allowedEquip = equipMap[profile.equipment] || ['none'];\n\nconst levelProgress = {\n  beginner: [['beginner'], ['beginner'], ['beginner'], ['beginner']],\n  intermediate: [['beginner'], ['beginner', 'intermediate'], ['intermediate'], ['intermediate', 'advanced']],\n  advanced: [['intermediate'], ['intermediate', 'advanced'], ['advanced'], ['advanced']]\n};\nconst weekLevels = levelProgress[profile.level] || levelProgress.beginner;\n\nconst contraPainKeywords = (profile.contraindications || [])\n  .filter(c => c !== 'stress')\n  .map(c => {\n    if (c === 'low_back_pain') return 'low back';\n    if (c === 'knee_pain') return 'knee';\n    if (c === 'shoulders_pain') return 'shoulders';\n    return c.replace(/_/g, ' ');\n  });\n\nconst excludeHighIntensity =\n  (profile.contraindications || []).includes('stress') ||\n  profile.sleep_bucket === 'very_low' ||\n  (profile.sex === 'female' && ['menstrual', 'luteal'].includes(profile.cycle_phase));\n\nconst allExercises = [\n  ...($('Fetch Exercises p1').first().json.list || []),\n  ...($('Fetch Exercises p2').first().json.list || []),\n  ...($('Fetch Exercises p3').first().json.list || []),\n  ...($('Fetch Exercises p4').first().json.list || [])\n];\n\nfunction matchesContra(ex) {\n  if (contraPainKeywords.length === 0) return true;\n  if (!ex.contraindications) return true;\n  const exContra = ex.contraindications.toLowerCase();\n  return !contraPainKeywords.some(k => exContra.includes(k));\n}\n\nfunction getWarmupPool() {\n  return allExercises.filter(ex => {\n    if (ex.primary_goal !== 'warmup') return false;\n    if (!allowedSpaces.includes(ex.space)) return false;\n    if (!allowedEquip.includes(ex.equipment)) return false;\n    if (!matchesContra(ex)) return false;\n    if (excludeHighIntensity && ex.intensity === 'high') return false;\n    return true;\n  });\n}\n\nfunction getMainPool(goal, weekLevel, minCount = 4) {\n  function baseFilter(ex) {\n    if (ex.primary_goal !== goal) return false;\n    if (!allowedSpaces.includes(ex.space)) return false;\n    if (!allowedEquip.includes(ex.equipment)) return false;\n    if (!weekLevel.includes(ex.level)) return false;\n    if (!matchesContra(ex)) return false;\n    if (excludeHighIntensity && ex.intensity === 'high') return false;\n    return true;\n  }\n  if (userMovType && userMovType !== 'mix') {\n    const withType = allExercises.filter(ex => {\n      if (!baseFilter(ex)) return false;\n      const exTypes = (ex.movement_type || '').split(',').map(s => s.trim());\n      return exTypes.includes(userMovType);\n    });\n    if (withType.length >= minCount) return withType;\n  }\n  return allExercises.filter(baseFilter);\n}\n\nconst fallbackMap = {\n  energy: ['energy', 'active'],\n  active: ['active', 'energy'],\n  destress: ['destress', 'posture', 'core'],\n  posture: ['posture', 'destress', 'core'],\n  core: ['core', 'destress', 'posture']\n};\nconst goalFallbacks = fallbackMap[profile.primary_goal] || [profile.primary_goal];\n\nconst slotBodyFocus = {\n  energy: [['full_body'], ['upper_body', 'full_body'], ['full_body'], ['full_body']],\n  destress: [['full_body'], ['upper_body', 'full_body'], ['full_body'], ['full_body']],\n  posture: [['full_body'], ['lower_body', 'full_body'], ['upper_body', 'full_body'], ['full_body']],\n  active: [['lower_body', 'full_body'], ['upper_body', 'full_body'], ['full_body'], ['full_body']],\n  core: [['full_body'], ['lower_body', 'full_body'], ['full_body'], ['full_body']]\n};\nconst bodyFocusRules = slotBodyFocus[profile.primary_goal]\n  || [['full_body'], ['full_body'], ['full_body'], ['full_body']];\n\nconst sessions = ['morning', 'midday', 'afternoon', 'evening'];\n\nfunction pickRandom(arr) {\n  if (!arr || arr.length === 0) return null;\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nconst globalUsedMainIds = new Set();\nconst warmupPool = getWarmupPool();\nconst plan = {};\n\nfor (let w = 0; w < 4; w++) {\n  const weekNum = w + 1;\n  const weekLevel = weekLevels[w];\n\n  let mainPool = [];\n  for (const goal of goalFallbacks) {\n    const pool = getMainPool(goal, weekLevel);\n    const fresh = pool.filter(e => !mainPool.find(m => m.ex_id === e.ex_id));\n    mainPool = [...mainPool, ...fresh];\n    if (mainPool.length >= 4) break;\n  }\n\n  const freshMain = mainPool.filter(e => !globalUsedMainIds.has(e.ex_id));\n  const effectiveMain = freshMain.length >= 4 ? freshMain : mainPool;\n\n  const weekUsedWarmupIds = new Set();\n  const weekUsedMainIds = new Set();\n  const weekPlan = {};\n\n  for (let s = 0; s < 4; s++) {\n    const warmupCandidates = warmupPool.filter(e => !weekUsedWarmupIds.has(e.ex_id));\n    const wu = pickRandom(warmupCandidates.length > 0 ? warmupCandidates : warmupPool);\n    if (wu) weekUsedWarmupIds.add(wu.ex_id);\n\n    const slotFocus = bodyFocusRules[s];\n    let mainCandidates = effectiveMain.filter(e =>\n      !weekUsedMainIds.has(e.ex_id) && slotFocus.includes(e.body_focus)\n    );\n    if (mainCandidates.length === 0) {\n      mainCandidates = effectiveMain.filter(e => !weekUsedMainIds.has(e.ex_id));\n    }\n    if (mainCandidates.length === 0) {\n      mainCandidates = mainPool;\n    }\n    const mx = pickRandom(mainCandidates);\n    if (mx) {\n      weekUsedMainIds.add(mx.ex_id);\n      globalUsedMainIds.add(mx.ex_id);\n    }\n\n    weekPlan[sessions[s]] = {\n      warmup: wu ? {\n        ex_id: wu.ex_id,\n        name: wu.name,\n        description: wu.description,\n        body_focus: wu.body_focus,\n        level: wu.level,\n        intensity: wu.intensity,\n        movement_type: wu.movement_type,\n        image_url: wu.image_url || wu.imageUrl || wu.image || wu.photo_url || wu.photoUrl || '',\n        cues: wu.cues\n      } : null,\n      main: mx ? {\n        ex_id: mx.ex_id,\n        name: mx.name,\n        description: mx.description,\n        body_focus: mx.body_focus,\n        level: mx.level,\n        intensity: mx.intensity,\n        movement_type: mx.movement_type,\n        primary_goal: mx.primary_goal,\n        image_url: mx.image_url || mx.imageUrl || mx.image || mx.photo_url || mx.photoUrl || '',\n        cues: mx.cues\n      } : null\n    };\n  }\n  plan[`week_${weekNum}`] = weekPlan;\n}\n\nreturn [{ json: { program_plan: plan, email } }];"
      },
      "name": "Build Program Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET program_plan = $1::jsonb, updated_at = NOW() WHERE email = $2 RETURNING id, email",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json.program_plan), $json.email] }}"
        }
      },
      "name": "Save Program",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2680,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const planData = $('Build Program Plan').first().json;\nconst paidLead = $('Mark Lead as Paid').first().json || {};\nconst profileRaw = paidLead.user_profile;\nconst profile = typeof profileRaw === 'string' ? JSON.parse(profileRaw || '{}') : (profileRaw || {});\nconst programPlan = planData.program_plan || {};\nconst weekNum = 1;\nconst weekKey = 'week_1';\nconst weekPlan = programPlan[weekKey] || {};\n\nconst sessions = ['morning', 'midday', 'afternoon', 'evening'];\nconst weekPlanForPdf = {};\nfor (const s of sessions) {\n  const slot = weekPlan[s] || {};\n  weekPlanForPdf[s] = {\n    warmup: slot.warmup ? {\n      name: slot.warmup.name,\n      description: slot.warmup.description,\n      image_url: slot.warmup.image_url || slot.warmup.imageUrl || slot.warmup.image || slot.warmup.photo_url || slot.warmup.photoUrl || '',\n      cues: slot.warmup.cues\n    } : null,\n    main: slot.main ? {\n      name: slot.main.name,\n      description: slot.main.description,\n      image_url: slot.main.image_url || slot.main.imageUrl || slot.main.image || slot.main.photo_url || slot.main.photoUrl || '',\n      cues: slot.main.cues\n    } : null\n  };\n}\n\nconst calendarMap = {\n  1: $env.CALENDAR_WEEK1_URL || '',\n  2: $env.CALENDAR_WEEK2_URL || '',\n  3: $env.CALENDAR_WEEK3_URL || '',\n  4: $env.CALENDAR_WEEK4_URL || ''\n};\n\nreturn [{\n  json: {\n    name: paidLead.name || 'there',\n    email: paidLead.email,\n    week_number: weekNum,\n    template_key: weekKey,\n    week_plan: weekPlanForPdf,\n    profile,\n    calendar_url: calendarMap[weekNum] || $env.CALENDAR_DEFAULT_URL || ''\n  }\n}];"
      },
      "name": "Build PDF Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH picked AS (\n  SELECT subject, html\n  FROM email_templates\n  WHERE template_key = $1 AND is_active = TRUE\n  LIMIT 1\n), fallback AS (\n  SELECT subject, html\n  FROM email_templates\n  WHERE template_key = 'week_1' AND is_active = TRUE\n  LIMIT 1\n)\nSELECT\n  COALESCE((SELECT subject FROM picked), (SELECT subject FROM fallback), 'Your MDT Week Plan') AS subject,\n  COALESCE((SELECT html FROM picked), (SELECT html FROM fallback), '<p>Hi {{name}}, your plan is attached.</p>') AS html",
        "options": {
          "queryReplacement": "={{ [$('Build PDF Payload').first().json.template_key] }}"
        }
      },
      "name": "Load Email Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3120,
        60
      ],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $('Build PDF Payload').first().json;\nconst template = $('Load Email Template').first().json;\n\nfunction fill(str, vars) {\n  let out = String(str || '');\n  for (const [k, v] of Object.entries(vars)) {\n    const re = new RegExp('\\\\{\\\\{' + k + '\\\\}\\\\}', 'g');\n    out = out.replace(re, String(v ?? ''));\n  }\n  return out;\n}\n\nconst vars = {\n  name: payload.name || 'there',\n  week_number: payload.week_number,\n  calendar_url: payload.calendar_url || '',\n  week_pdf_url: '',\n  level2_offer_url: $env.LEVEL2_OFFER_URL || '',\n  goal: payload.goal || payload.profile?.primary_goal || payload.profile?.goal || ''\n};\n\nreturn [{\n  json: {\n    ...payload,\n    email_subject: fill(template.subject, vars),\n    email_html: fill(template.html, vars),\n    attachment_filename: `week${payload.week_number}-plan.pdf`\n  }\n}];"
      },
      "name": "Render Email Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-service:3001/generate-pdf",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ ({ name: $json.name, week_number: $json.week_number, week_plan: $json.week_plan, profile: $json.profile, calendar_url: $json.calendar_url }) }}",
        "options": {}
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  from: $env.RESEND_FROM,\n  to: $('Build PDF Payload').first().json.email,\n  subject: $('Render Email Template').first().json.email_subject,\n  html: $('Render Email Template').first().json.email_html,\n  attachments: [{ filename: $('Render Email Template').first().json.attachment_filename, content: $json.pdf }]\n}) }}"
      },
      "name": "Send Email Week 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3660,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET\n  week1_sent_at = NOW(),\n  next_send_at = NOW() + interval '7 days',\n  updated_at = NOW()\nWHERE email = $1",
        "options": {
          "queryReplacement": "={{ [$('Build PDF Payload').first().json.email] }}"
        }
      },
      "name": "Update week1_sent_at",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3880,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Build PDF Payload').first().json;\nreturn [{ json: { status: 'ok', message: `Payment verified, week ${data.week_number} generated and sent`, email: data.email, week_number: data.week_number } }];"
      },
      "name": "Send Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $('Verify and Parse Paddle').first().json;\nreturn [{\n  json: {\n    status: 'ignored',\n    reason: p.reason,\n    event_type: p.event_type,\n    email: p.email || null\n  }\n}];"
      },
      "name": "Send Ignored Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM payment_events WHERE event_id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.event_id] }}"
        }
      },
      "name": "Check Idempotency",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.id ?? '') }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Is Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO payment_events (event_id, event_type, lead_id, email, transaction_id, raw_payload)\nSELECT $1, $2, l.id, $3, $4, $5::jsonb\nFROM leads l WHERE l.email = $3\nON CONFLICT (event_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ [\n  $('Verify and Parse Paddle').first().json.event_id,\n  $('Verify and Parse Paddle').first().json.event_type,\n  $('Verify and Parse Paddle').first().json.email,\n  $('Verify and Parse Paddle').first().json.transaction_id,\n  JSON.stringify($('Paddle Webhook').first().json.body || {})\n] }}"
        }
      },
      "name": "Record Payment Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    }
  ],
  "connections": {
    "Paddle Webhook": {
      "main": [
        [
          {
            "node": "Verify and Parse Paddle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify and Parse Paddle": {
      "main": [
        [
          {
            "node": "Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verified Paid Event": {
      "main": [
        [
          {
            "node": "Mark Lead as Paid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Ignored Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Lead as Paid": {
      "main": [
        [
          {
            "node": "Record Payment Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exercises p1": {
      "main": [
        [
          {
            "node": "Fetch Exercises p2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exercises p2": {
      "main": [
        [
          {
            "node": "Fetch Exercises p3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exercises p3": {
      "main": [
        [
          {
            "node": "Fetch Exercises p4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Exercises p4": {
      "main": [
        [
          {
            "node": "Build Program Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Program Plan": {
      "main": [
        [
          {
            "node": "Save Program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Program": {
      "main": [
        [
          {
            "node": "Build PDF Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Payload": {
      "main": [
        [
          {
            "node": "Load Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Email Template": {
      "main": [
        [
          {
            "node": "Render Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email Template": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Send Email Week 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Week 1": {
      "main": [
        [
          {
            "node": "Update week1_sent_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update week1_sent_at": {
      "main": [
        [
          {
            "node": "Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency": {
      "main": [
        [
          {
            "node": "Is Not Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Duplicate": {
      "main": [
        [
          {
            "node": "Is Verified Paid Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Ignored Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Payment Event": {
      "main": [
        [
          {
            "node": "Fetch Exercises p1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": []
}