n8n/weekly-sender-workflow.json
{
  "id": "770e8400-e29b-41d4-a716-446655440003",
  "name": "MDT Weekly PDF Sender",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily 9am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  name,\n  email,\n  user_profile,\n  program_plan,\n  CASE\n    WHEN week1_sent_at IS NULL THEN 1\n    WHEN week2_sent_at IS NULL THEN 2\n    WHEN week3_sent_at IS NULL THEN 3\n    WHEN week4_sent_at IS NULL THEN 4\n  END AS week_to_send\nFROM leads\nWHERE payment_date IS NOT NULL\n  AND next_send_at IS NOT NULL\n  AND next_send_at <= NOW()\n  AND week4_sent_at IS NULL;",
        "options": {}
      },
      "name": "Find Due Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $input.item.json;\nconst weekNum = Number(lead.week_to_send);\nconst programPlan = typeof lead.program_plan === 'string' ? JSON.parse(lead.program_plan) : (lead.program_plan || {});\nconst profile = typeof lead.user_profile === 'string' ? JSON.parse(lead.user_profile) : (lead.user_profile || {});\nconst weekPlan = programPlan[`week_${weekNum}`] || {};\n\nconst sessions = ['morning', 'midday', 'afternoon', 'evening'];\nconst pickImageUrl = (exercise = {}) => exercise.image_url || exercise.imageUrl || exercise.image || exercise.photo_url || exercise.photoUrl || '';\nconst mapExercise = (exercise) => exercise ? {\n  name: exercise.name,\n  description: exercise.description,\n  image_url: pickImageUrl(exercise),\n  cues: exercise.cues\n} : null;\n\nconst weekPlanForPdf = {};\nfor (const s of sessions) {\n  const slot = weekPlan[s] || {};\n  weekPlanForPdf[s] = {\n    warmup: mapExercise(slot.warmup),\n    main: mapExercise(slot.main)\n  };\n}\n\nconst calendarMap = {\n  1: $env.CALENDAR_WEEK1_URL || $env.CALENDAR_URL_WEEK1 || $env.CALENDAR_WEEK_1_URL || '',\n  2: $env.CALENDAR_WEEK2_URL || $env.CALENDAR_URL_WEEK2 || $env.CALENDAR_WEEK_2_URL || '',\n  3: $env.CALENDAR_WEEK3_URL || $env.CALENDAR_URL_WEEK3 || $env.CALENDAR_WEEK_3_URL || '',\n  4: $env.CALENDAR_WEEK4_URL || $env.CALENDAR_URL_WEEK4 || $env.CALENDAR_WEEK_4_URL || ''\n};\nconst calendarUrl = calendarMap[weekNum] || $env.CALENDAR_DEFAULT_URL || '';\n\nreturn { json: {\n  lead_id: lead.id,\n  name: lead.name,\n  email: lead.email,\n  week_number: weekNum,\n  template_key: `week_${weekNum}`,\n  week_plan: weekPlanForPdf,\n  profile: profile,\n  calendar_url: calendarUrl\n} };"
      },
      "name": "Build PDF Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH picked AS (\n  SELECT subject, html\n  FROM email_templates\n  WHERE template_key = $1 AND is_active = TRUE\n  LIMIT 1\n),\nfallback AS (\n  SELECT subject, html\n  FROM email_templates\n  WHERE template_key = 'week_1' AND is_active = TRUE\n  LIMIT 1\n)\nSELECT\n  COALESCE((SELECT subject FROM picked), (SELECT subject FROM fallback), 'Your MDT Week Plan') AS subject,\n  COALESCE((SELECT html FROM picked), (SELECT html FROM fallback), '<p>Hi {{name}}, your plan is attached.</p>') AS html;",
        "options": {
          "queryReplacement": "={{ [$('Build PDF Payload').item.json.template_key] }}"
        }
      },
      "name": "Load Email Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [860, 300],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $('Build PDF Payload').item.json;\nconst template = $input.item.json;\n\nconst fill = (str, vars) => String(str || '').replace(/{{\\s*([a-zA-Z0-9_]+)\\s*}}/g, (_, key) => vars[key] ?? '');\n\nconst vars = {\n  name: payload.name || 'there',\n  week_number: payload.week_number,\n  calendar_url: payload.calendar_url || '',\n  week_pdf_url: '',\n  level2_offer_url: $env.LEVEL2_OFFER_URL || '',\n  goal: payload.goal || payload.profile?.primary_goal || payload.profile?.goal || ''\n};\n\nreturn {\n  json: {\n    lead_id: payload.lead_id,\n    name: payload.name,\n    email: payload.email,\n    week_number: payload.week_number,\n    template_key: payload.template_key,\n    week_plan: payload.week_plan,\n    profile: payload.profile,\n    calendar_url: payload.calendar_url,\n    email_subject: fill(template.subject, vars),\n    email_html: fill(template.html, vars),\n    attachment_filename: `week${payload.week_number}-plan.pdf`\n  }\n};"
      },
      "name": "Render Email Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-service:3001/generate-pdf",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ ({ name: $json.name, week_number: $json.week_number, week_plan: $json.week_plan, profile: $json.profile, calendar_url: $json.calendar_url }) }}",
        "options": {}
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  from: $env.RESEND_FROM,\n  to: $('Render Email Template').item.json.email,\n  subject: $('Render Email Template').item.json.email_subject,\n  html: $('Render Email Template').item.json.email_html,\n  attachments: [\n    {\n      filename: $('Render Email Template').item.json.attachment_filename,\n      content: $json.pdf\n    }\n  ]\n}) }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET\n  week1_sent_at = CASE WHEN $2 = 1 THEN NOW() ELSE week1_sent_at END,\n  week2_sent_at = CASE WHEN $2 = 2 THEN NOW() ELSE week2_sent_at END,\n  week3_sent_at = CASE WHEN $2 = 3 THEN NOW() ELSE week3_sent_at END,\n  week4_sent_at = CASE WHEN $2 = 4 THEN NOW() ELSE week4_sent_at END,\n  next_send_at = CASE WHEN $2 < 4 THEN NOW() + interval '7 days' ELSE NULL END,\n  updated_at = NOW()\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$('Render Email Template').item.json.lead_id, Number($('Render Email Template').item.json.week_number)] }}"
        }
      },
      "name": "Update sent_at",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1740, 300],
      "credentials": {
        "postgres": {
          "id": "mdt-pg-cred",
          "name": "MDT Postgres"
        }
      }
    }
  ],
  "connections": {
    "Daily 9am Trigger": {
      "main": [
        [
          {
            "node": "Find Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Due Leads": {
      "main": [
        [
          {
            "node": "Build PDF Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Payload": {
      "main": [
        [
          {
            "node": "Load Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Email Template": {
      "main": [
        [
          {
            "node": "Render Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email Template": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update sent_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": []
}
